body, html { 
    margin: 0; 
    background-color: black;
    background-image: url('./../images/fondo.jpg');
}
div.splash{
    background-size: 50%;
    background-position: 50%;
    background-color: black;
    background-repeat: no-repeat;

}

button{
    display: block;
}
.options{
    color: yellow;
    display: inline-block;
    margin: 0 50px;
    padding: 5px;
    text-shadow: 2px 2px 5px orangered;
}
.options:hover{
    cursor: pointer;
    font-weight: bold;
}